

#wrap {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
    aspect-ratio: 1 / 1;
    gap: 2px;
    margin: 10px;
    flex: 1 1 200px;
}

#inputContainer {
    text-align: center;
}

.cell {
    box-sizing: border-box;
    opacity: 1;
    outline: solid black 2px;
    margin: -1px;
    aspect-ratio: 1 / 1;
}
